.headerTextBackground {
    margin-left: 0px;
    padding: 20px 18px;
    z-index: 10;
}

nav {
    display: flex;
    padding-top: 29px;
    padding-left: 3%;
    padding-right: 8%;
}

.headerTextBackground li {
    list-style-type: none;
    display: inline-block;
}

.heading {
    display: inline-block;
    transform: scale(1, 1.12);
    font-family: 'Josefin Sans';
    src: url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggqxSuXd.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    font-size: 25px;
    letter-spacing: 2px;
    opacity: 85%;
}

.heading:hover {
    color: white;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.headingSmall {
    display: inline-block;
    transform: scale(1, 1.05);
    font-size: 14px;
    font-family: 'Work Sans';
    letter-spacing: 1.5px;
    opacity: 80%;
    text-decoration: none;
}

.currentTab {
    /* text-decoration: underline; */
    color: white;
    text-shadow: 0px 0px 30px hsl(0, 100%, 100%);
    opacity: 90%;
}

.glow:hover {
    color: hsl(0, 100%, 100%);
    text-shadow: 0px 0px 30px hsl(0, 100%, 100%);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.projectsDrop {
    position: relative;
    display: inline-block;
}

.projectsContent {
    padding-top: 5px;
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.projectsContent a {
    font-size: 15px;
    font-family: 'Manrope';
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    padding-left: 5px;
    color: #DFE0E1;
}

.projectsContent a:hover {
    background-color: #38383B;
}

.projectsDrop:hover .projectsContent {
    display: block;
}

.projectsDrop:hover .projects {
    color: white;
}

.projects:hover {
    cursor: pointer;
}


/* general rules */

.fadeInFast {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

.fadeInSuperFast {
    animation: fadeIn linear 0.1s;
    -webkit-animation: fadeIn linear 0.1s;
    -moz-animation: fadeIn linear 0.1s;
    -o-animation: fadeIn linear 0.1s;
    -ms-animation: fadeIn linear 0.1s;
}

.fadeInSlow {
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.white {
    color: hsl(0, 100%, 100%);
}

.black {
    color: hsl(0, 100%, 0%);
}

.accent {
    color: #A8A6A1;
}

.lightAccent {
    color: #DFE0E1;
}

.darkAccent {
    color: #38383B;
}

.BLACKaccent {
    color: #4a4947;
}

.BLACKlightAccent {
    color: #2a2a2a;
}

.BLACKdarkAccent {
    color: #aeaeb9;
}