* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.midText {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
}

.midArrowDown {
    position: absolute;
    cursor: pointer;
    height: 20px;
    width: auto;
    opacity: 50%;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%);
}

.midTextBig {
    color: hsl(0, 100%, 100%);
    font-size: 60px;
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.midTextSmall {
    color: #DFE0E1;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    opacity: 60%;
}

.footer {
    height: 20vh;
    width: 100%;
    background-color: black;
}

.dropMenu {
    display: none;
}

.mobileGallery {
    display: none;
}