.BLACKaccent {
    color: #4a4947;
}

.BLACKlightAccent {
    color: #2a2a2a;
}

.BLACKdarkAccent {
    color: #aeaeb9;
}

.glow:hover {
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 30px hsl(0, 100%, 100%);
}

.heading {
    opacity: 85%;
}

.heading:hover {
    color: black;
}

.headingSmall {
    opacity: 80%;
}

.currentTab {
    color: black;
    text-shadow: 0px 0px 30px hsl(0, 100%, 100%);
    opacity: 90%;
}

.projectsContent {
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.projectsContent a {
    font-size: 15px;
    font-family: 'Manrope';
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    padding-left: 5px;
    color: #DFE0E1;
}

.projectsContent a:hover {
    background-color: #38383B;
}

.projectsDrop:hover .projects {
    color: black;
}