@media (max-width: 900px) {
    .close-container {
        display: none;
    }
    .fa-bars {
        color: #DFE0E1;
        font-size: 60px;
        position: absolute;
        right: 3vh;
        top: 3vh;
        z-index: 101;
    }
    .close-bars {
        display: none;
        color: #6f6f6f;
        font-size: 14px;
        position: absolute;
        left: 3vw;
        top: 2.2vh;
        opacity: 60%;
        text-decoration: underline;
        z-index: 101;
    }
    .mobileDropMenuBlock {
        display: none;
        background-color: #e9e9e9;
        font-size: 60px;
        position: absolute;
        right: 4vh;
        top: 5vh;
        z-index: 100;
        width: 45vw;
        height: 47vh;
        overflow: scroll;
        /* transform: translate(-50%); */
    }
    .guideText {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .dropMenuProjects {
        display: none;
        background-color: #e9e9e9;
        font-size: 60px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100;
        width: 45vw;
        height: 47vh;
        /* transform: translate(-50%); */
    }
    .dropMenu {
        display: block;
        position: inherit;
    }
    .secondBlock {
        padding-top: 4vh;
        padding-bottom: 4vh;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .videoGallery {
        height: 50.63vw;
        width: 90vw;
        overflow: hidden;
    }
    .videoAbsolute {
        width: 90vw;
        left: 50%;
        transform: translate(-50%);
    }
    .gallery1,
    .gallery2 {
        display: none;
    }
    .mobileGallery {
        display: block;
    }
    .socialIcons {
        bottom: 10px;
        right: 0;
    }
    .footerTextBox {
        color: white;
        top: 20px;
        left: 10px;
    }
    .prev:hover,
    .next:hover {
        background-color: transparent;
    }
    .hero {
        height: 95vh;
    }
    .midText {
        height: 95vh;
    }
    .element {
        top: 47%;
        max-width: 70%;
    }
    .prev,
    .next {
        display: none;
    }
    .prevField {
        left: 0;
    }
    .nextField {
        right: 0;
    }
    .prevField,
    .nextField {
        position: absolute;
        display: block;
        height: 70vh;
        width: 45%;
        z-index: 100;
        top: 50%;
        transform: translate(0, -50%);
    }
    .prev {
        padding-right: 20%;
    }
    .next {
        padding-left: 20%;
    }
    .mobileNavigationText {
        position: absolute;
        display: block;
        font-size: small;
        text-align: center;
        bottom: 5vh;
        right: 50%;
        transform: translate(50%);
        opacity: 50%;
        animation: fadeOut 5s;
        -webkit-animation: fadeOut 5s;
        -moz-animation: fadeOut 5s;
        -o-animation: fadeOut 5s;
        -ms-animation: fadeOut 5s;
    }
    .hero2 {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        background-image: url(../Gallery/mobile-black.png);
        background-size: cover;
        background-position: center;
    }
    .heading {
        z-index: 10;
    }
    /* clusterfuck */
    .hideMobile {
        display: none;
    }
    .headingMobile {
        display: inline-block;
        transform: scale(1, 1.05);
        font-size: 14px;
        font-family: 'Work Sans';
        letter-spacing: 1.5px;
        opacity: 80%;
    }
    .textHold {
        position: inherit;
        width: 146px;
        left: 50%;
        top: 3%;
        transform: translate(-50%);
        text-align: center;
    }
    /* clusterfuck end */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-height: 450px) {
    .element {
        max-width: 90%;
        top: 50%;
    }
    .nextField,
    .prevField {
        height: 55vh;
    }
    .close-bars {
        left: 3vw;
        top: 5.5vh;
    }
    .mobileDropMenuBlock {
        width: 45vw;
        height: 80vh;
    }
    .dropMenuProjects {
        width: 45vw;
        height: 80vh;
    }
    .textHold {
        top: 0;
    }
    .mobileNavigationText {
        color: white;
        bottom: 15vh;
    }
    .guideText {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}