.secondBlock {
    height: fit-content;
    position: relative;
    overflow: auto;
    width: 100%;
    background-color: #f1f1f1;
    /* #DFE0E1 */
    padding: 10vh;
}

.guideText {
    display: inline-block;
    position: inherit;
    left: 50%;
    transform: translate(-50%);
    opacity: 50%;
    padding-bottom: 2vh;
}

.bigGallery {
    width: 100;
    height: auto;
    float: left;
    overflow: auto;
}

.gallery1 {
    width: 49.85%;
    height: auto;
    float: left;
    ;
    overflow: auto;
}

.gallery2 {
    width: 49.85%;
    height: auto;
    float: right;
    overflow: auto;
}

.elementImage {
    max-width: 100%;
    cursor: pointer;
}