.secondBlock {
    height: 100vh;
    position: relative;
    overflow: auto;
    width: 100%;
    background-color: #f1f1f1;
    /* #DFE0E1 */
    padding: 10vh;
    padding-top: 8vh;
    padding-bottom: 4vh;
}

.gallery1 {
    max-width: 25%;
    height: auto;
    overflow: auto;
}

.gallery2Text {
    width: 15%;
    height: auto;
    margin-left: 2vw;
}

.floatElement {
    float: left;
}

.elementImage {
    max-width: 100%;
    cursor: pointer;
}