@media (max-width: 900px) {
    .mobileHeader {
        display: none;
    }
    .fa-bars {
        color: #DFE0E1;
        font-size: 60px;
        position: absolute;
        right: 3vh;
        top: 3vh;
        z-index: 10;
    }
    .dropMenu {
        display: block;
        position: inherit;
    }
    .secondBlock {
        padding-top: 1vh;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .gallery1 {
        width: 100%;
        max-width: 80%;
        max-height: 95vh;
        margin-left: 20px;
        margin-right: 20px;
        overflow: hidden;
    }
    .gallery2Text {
        margin-top: 25px;
        width: 80%;
        height: auto;
        margin-left: 2vw;
    }
    .floatElement {
        float: initial;
    }
    .socialIcons {
        bottom: 10px;
        right: 0;
    }
    .footerTextBox {
        color: white;
        top: 20px;
        left: 10px;
    }
    .mobileNavigationText {
        position: absolute;
        display: block;
        font-size: small;
        text-align: center;
        bottom: 10vh;
        right: 50%;
        transform: translate(50%);
        opacity: 50%;
    }
}

.heading {
    z-index: 10;
}