* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.secondBlock {
    height: 85vh;
    position: relative;
    overflow: auto;
    background-color: #f1f1f1;
    /* #DFE0E1 */
    padding: 10vh;
}

.aboutMain-web {
    /* overflow: hidden; */
    display: flex;
    /* background-color: blue; */
    width: 100%;
    height: 100%;
}

.halfone {
    flex: 1;
    width: 45%;
    /* background-color: rgb(108, 156, 40); */
}

.halftwo {
    position: relative;
    width: 55%;
    /* background-color: blueviolet */
}

.aboutHalfOne-web {
    flex: 1;
    overflow: hidden;
    /* background-color: red; */
    width: 20%;
    height: 100%;
}

.aboutHalfTwo-web {
    position: relative;
    /* background-color: green; */
    width: 300px;
    height: 100%;
    left: 0;
    /* transform: translate(-100%); */
}

.inone-web {
    position: relative;
    overflow: hidden;
    /* background-color: red; */
    width: 45%;
    height: 100%;
    left: 100%;
    transform: translate(-100%);
}

.intwo-web {
    position: relative;
    /* background-color: green; */
    width: 300px;
    height: 100%;
    left: 0;
}

.aboutImage {
    position: relative;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 4vw;
}

.aboutText {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.aboutHalfOne-int {
    display: none;
}

.aboutHalfTwo-int {
    display: none;
}